<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Stalker</title>
  <meta name="description" content="Flatiron Presents: Cassie and Kana">
  <meta name="author" content="Cassie Tarakajian - Kana Abe">

  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<h2>STALKER RESULTS...</h2>

<%= @name %></br>
<%= @biography %></br>
<%= @github %></br>
<%= @twitter %></br>

<h3>LATEST TWEETS</h3>

<% @tweets.each do |tweet| %>
<li><%= tweet.text %></li>
<% end %>
</body>
</html>