<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Stalker</title>
  <meta name="description" content="Flatiron Presents: Cassie and Kana">
  <meta name="author" content="Cassie Tarakajian - Kana Abe">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <%= css :application %>
  <%= js :application %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body class="col-xs-12">
<div class="col-xs-12 text-center">
<h2>STALKER RESULTS...</h2>

<%= @profile.name %></br>
<%= @profile.quote %></br>
<%= @profile.education %></br>
<%= @profile.work %></br>
<%= @profile.biography %></br>
</div>

<div class="col-xs-12 text-center">
<h3>LATEST TWEETS</h3>

<% @tweets.each do |tweet| %>
<li><%= tweet.text %></li>
<% end %>
</div>
<div class="col-xs-12 text-center">
<h3>LATEST GITHUB ACTIVITY</h3>

<% @github.each do |commit| %>
<li><%= commit[0] %></li>
<% end %>
</div>

</body>
</html>