<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stalker</title>
  <meta name="description" content="Flatiron Presents: Cassie and Kana">
  <meta name="author" content="Cassie Tarakajian - Kana Abe">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <%= css :application %>
  <%= js :application %>

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="container">
    <h2 class="text-center">STALK RESULTS</h2>
    <div class="row">
      <div class="col-md-4 vcenter">
        <img src="http://ruby006.students.flatironschool.com/<%= @profile.img_url %>">
      </div>
      <div class="col-md-6 vcenter">
        <h3><%= @profile.name %></h3>
        <p><%= @profile.quote %></p>
        <h4>Education</h4>
        <p><%= @profile.education %></p>
        <h4>Career</h4>
        <%= @profile.work %></br>
        <h4>Biography</h4>
        <%= @profile.biography %></br>
      </div>
    </div>
    <div class="row">

      <table class="table table-striped">
        <thead>
          <tr><h3>LATEST TWEETS</h3></tr>
        </thead>
        <tbody>
          <% @tweets.each do |tweet| %>
          <tr>
            <td><%= tweet.created_at.ago_in_words %></td>
            <td><%= tweet.text %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr><h3>LATEST GITHUB ACTIVITY</h3></tr>
        </thead>
        <tbody>
          <% @github.each do |commit| %>
            <!-- <tr><td><%= commit[time].ago_in_words %></td></tr> -->
            <tr><td><%= commit[0] %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>